.conatiner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#color{
    color: gray;
    font-size: 50px;
    margin-top: 200px;
    text-align: center;
    border: 2px solid white;
    background-color: aliceblue;
    border-radius: 30px;
    letter-spacing: 10px;
}
.text{
    color: black;
    font-size: 50px;
    text-align: center;
    letter-spacing: 10px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: transparent;
    border-radius: 30px;
} 
button{
    color: white;
    background-color: black;
    border: 2px solid black;
    padding: 20px;
    font-size: 20px;
    border-radius: 35px;
}